In [1]:
# 곱하기
multiply = lambda x, y: x * y
print(multiply(3, 4))

12

In [1]:
# 제곱
square = lambda x: x ** 2
print(square(5))

25

In [2]:
# 더하기
add = lambda a, b: a + b
print(add(3, 7))

10

In [2]:
# 나누기
divided = lambda x, y: x / y
print(divided(10, 5))

2.0

In [3]:
# 빼기
minus = lambda  a, b: a - b
print(minus(7, 4))

3

In [9]:
# 조건문 사용
check_even = lambda x: "짝수" if x % 2 == 0 else "홀수"
print(check_even(986))

짝수

In [11]:
# 다른 함수의 인자로 사용
numbers = [5, 2, 9, 1]
sorted_numbers = sorted(numbers, key=lambda x: x)
print(sorted_numbers)

[1, 2, 5, 9]

In [22]:
#데이터 변환 및 확인 함수

#type(123)
#int("10")
#float("3.14")
#str(123)
#bool(0)
#bool(1)
isinstance(123, int)

True

In [23]:
#map함수
numbers = [1, 2, 3, 4, 5]

#각 숫자를 두 배로 만드는 함수
def double(x):
    return x * 2

# map함수를 사용하여 각 숫자에 double 함수 적용
result = list(map(double, numbers))
print(result)

[2, 4, 6, 8, 10]

In [19]:
# map 함수_문자열
words = ['apple', 'banana', 'cherry']

# 문자열을 대문자로 바꾸는 함수 /소문자는 lower
def to_upper(s):
    return s.upper()

# map함수를 사용하여 각 문자열을 대문자로 변환
result = list(map(to_upper, words))
print(result)

['APPLE', 'BANANA', 'CHERRY']

In [24]:
# map 함수_문자열
words = ['ApPle', 'bAnaNa', 'CHerRy']

# 문자열을 소문자로 바꾸는 함수
def to_lower(s):
    return s.lower()

# map함수를 사용하여 각 문자열을 소문자로 변환
result = list(map(to_lower, words))
print(result)

['apple', 'banana', 'cherry']

In [27]:
# filter 함수 : 함수의 결과가 True인 요소만 추출
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))  # 짝수만 추출
print(even_numbers)

[2, 4]

In [29]:
# enumerate 함수 : 각 요소에 대해 (index, value) 튜플을 생성
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [121]:
text = "umM hi My name ju"
print(text.capitalize())

Umm hi my name ju